In [1]:
import numpy as np
import pandas as pd
import pymc3 as pm
import matplotlib.pyplot as plt
import arviz as az
import seaborn as sns
import os

In [2]:
az.style.use('arviz-darkgrid')

In [3]:
def load_data(fpath='data/SP1.csv'):
    if os.path.isfile(fpath):
        return pd.read_csv(fpath)
    return None

In [4]:
df = load_data()
df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,SP1,16/08/2019,20:00,Ath Bilbao,Barcelona,1,0,H,0,0,...,1.97,0.75,1.93,2.00,1.91,2.01,2.02,2.03,1.91,1.98
1,SP1,17/08/2019,16:00,Celta,Real Madrid,1,3,A,0,1,...,2.63,1.00,1.82,1.97,1.85,2.07,2.00,2.20,1.82,2.06
2,SP1,17/08/2019,18:00,Valencia,Sociedad,1,1,D,0,0,...,1.82,-0.75,1.94,1.99,1.92,2.00,1.96,2.12,1.89,2.00
3,SP1,17/08/2019,19:00,Mallorca,Eibar,2,1,H,1,0,...,1.66,0.00,2.11,1.82,2.09,1.83,2.12,1.88,2.07,1.83
4,SP1,17/08/2019,20:00,Leganes,Osasuna,0,1,A,0,0,...,1.46,-0.50,1.89,2.04,1.90,2.01,1.95,2.06,1.90,1.99

In [5]:
def prepare_data(df: pd.DataFrame):
    df = df.loc[:, ['HomeTeam', 'AwayTeam', 'FTHG', 'FTAG']]
    df.rename(columns={'FTHG': 'HomeGoals', 'FTAG': 'AwayGoals'}, inplace=True)
    team_categorical = pd.Categorical(df.HomeTeam)
    df['HomeTeamId'] = team_categorical.codes
    df['AwayTeamId'] = pd.Categorical(df.AwayTeam, dtype=team_categorical.dtype).codes
    return df

In [6]:
df = prepare_data(df)
df.head()

     HomeTeam     AwayTeam  HomeGoals  AwayGoals  HomeTeamId  AwayTeamId
0  Ath Bilbao    Barcelona          1          0           1           3
1       Celta  Real Madrid          1          3           5          14
2    Valencia     Sociedad          1          1          17          16
3    Mallorca        Eibar          2          1          12           6
4     Leganes      Osasuna          0          1          10          13